 <h1><%= movieInfo.Title %> </h1>
 <img src="<%= movieInfo.Poster%>" alt="">
 <p><%= movieInfo.Year %> </p>
 <p><%= movieInfo.Director %> </p>
 <p><%= movieInfo.Genre %> <br>Starring: <%= movieInfo.Actors %> </p>
 <p><%= movieInfo.Plot %> </p>